
<!-- About Start -->

<section id="{{ page.title }}" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2 id="about">About</h2>
            <p>Thanks for visit my personal page, my name is <span itemprop="name">Miguel Angel Asencio Hurtado</span> and I’m a <span itemprop="jobtitle">data scientist, web and mobile developer</span> from <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Bogotá</span>, <span itemprop="addressCountry">Colombia</span></span>
            </span>.</p>

            <p>For me it’s really interesting all the tech areas, so you could talk to me about some physics, chemistry and maths, but also about circuits, language programs, machine learning, etc.</p>

            <p>I’m an enthusiast about data science and MOOCs (Massive Open Online Courses), for example, I’m currently working in a free software machine learning tool for javascript, called <a href="https://github.com/mljs/ml">ml.js</a>, I’m co-organizer of the meetup <a href="http://www.meetup.com/Big-Data-Science-Bogota">Big Data &amp; Data science Bogota</a>, and I’m reading daily about those topics and taking MOOCs about it.</p>

            <p>As a good geek, I’m (really) bad saying not to an interesting project, so if you have something that you would like to do, or if you just want to have a talk, please <a href="#contact">contact me</a>.</p>
      </div>
  </div>
</section>

<!-- About End -->
