<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Hi stranger!</h2>
            <p>Thanks for visit my personal page, my name is Miguel Angel Asencio Hurtado<br/>
            and I’m a colombian data scientist, web and mobile developer.<br/>
            If you want to know more about me you can go to the <a href="about">about</a> section<br/>
            or you can just <a href="contact">contact</a> me and talk personally to me.
            </p>
        </header>
        <ul class="icons major">
            <li><span class="icon fa-html5 major style3"><span class="label">HTML5</span></span></li>
            <li><span class="icon fa-css3 major style2"><span class="label">CSS3</span></span></li>
            <li><span class="icon fa-android major style1"><span class="label">Android</span></span></li>
        </ul>
    </div>
</section>
