<!DOCTYPE HTML>
<html lang="en">
	{% include head.html %}
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                <header id="header">
                    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</h1>
                    <nav id="nav">
                        <h2 style="display: none">Menu</h2>
                        <ul>
                            <li class="special">
                                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                                <div id="menu">
                                    <ul>
                                        {% for my_page in site.pages %}
                                            {% if my_page.title %}
                                                <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
				</header>

				<!-- Main -->
				{{ content }}

				<!-- Footer -->
				{% include footer.html %}

			</div>

		<!-- Scripts -->
        <script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/skel.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/util.js" | prepend: site.baseurl }}"></script>
		<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
		<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

	</body>
</html>
