<!DOCTYPE HTML>
<html lang="en">
	{% include head.html %}
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
				{% include header.html %}

				<!-- Banner -->
				<section id="banner">
					<div class="inner">
						<h2>{{ site.title }}</h2>
						<p>{{ site.subtitle }}</p>
					</div>
					<a href="#one" class="more scrolly">Learn More</a>
				</section>

				<!-- One -->
				{% include introduction.html %}

				<!-- Two -->
				<section id="two" class="wrapper alt style2">
                    <h2 style="display: none">Posts</h2>
                    {% for post in site.posts %}
                        <section class="spotlight">
                            <div class="image"><img src="images/posts/{{ post.image }}" alt="{{ post.title }}" /></div><div class="content">
                                <h2>
                                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                </h2>
                                <p>{{ post.date | date: "%b %-d, %Y" }}</p>
                                <p>{{ post.excerpt }}</p>
                            </div>
                        </section>
                    {% endfor %}
				</section>

				<!-- Three -->
				{% include abilities.html %}

				<!-- CTA -->
				<section id="cta" class="wrapper style4">
					<div class="inner">
						<header>
							<h2>Contact me!</h2>
							<p>As a good geek, I’m (really) bad saying not to an interesting project, so if you have something that you would like to do, or if you just want to have a talk, please let me help you!</p>
						</header>
						<ul class="actions vertical">
							<li><a href="contact" class="button fit special">Contact me</a></li>
							<li><a href="about" class="button fit">About me</a></li>
						</ul>
					</div>
				</section>

				<!-- Footer -->
				{% include footer.html %}

			</div>

		<!-- Scripts -->
        <script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/skel.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/util.js" | prepend: site.baseurl }}"></script>
		<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
		<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

	</body>
</html>
